* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.page-layout {
    display: flex;
    position: fixed;
    align-items: center;
}

.left-side {
    background-color: blue;
    width: 400px;
    height: 100vh;

}

img {
    width: 800px;
}