* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.page-layout {
    display: flex;
    position: fixed;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 3%;
}

.left-side {
    width: 30%;
    min-width: 388px;
}

img {
    width: 700px;
    padding: 40px;
    flex-grow: 0.7;
}

.flex_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_item1 {
    margin: 3%;

}

.sign_up_txt {
    font-size: 15px;
    color: #242424;
}

.button_sign_up {
    height: 35px;
    width: 140px;
    border-radius: 50px;
    border: 2px solid #0850F8;
    font-size: 20px;
    font-weight: 600;
    background-color: #0850F8;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex_container2 {
    display: flex;
    width: 500px;
    justify-content: center;

}

.flex_item2 {
    margin: 0% 5%;
}

.social {
    border: 3px solid black;
    border-radius: 50%;
    padding: 5px;
    color: #242424;
}

.signup_inputs{
    display: block; 
    margin-bottom: 35px; 
    border-radius: 20px; 
    height: 40px;
    width: 350px;
}

.signup_header{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
}

.signup_section{
    margin-left: 20px;
    height: 400px;
}

.input-container {
  position: relative;
}

.icon {
  position: absolute;
  left: 10px; /* Adjust the left positioning of the icon */
  top: 50%;
  transform: translateY(-50%);
  color: #999; /* Adjust the color of the icon */
}

input {
  padding-left: 30px; /* Adjust the left padding to make space for the icon */
}

.test1 {
    background-image: url("../images/user_icon.svg");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

@media (max-width: 500px) {
    .page-layout {
        flex-direction: column;
        justify-content: top;
        margin: 0;
    }

    .left-side {
        min-width: none;
    }

    img {
        width: 100%;
        min-width: 100px;
    }

    .signup_section {
        height: auto;
    }

    .flex_container2 {
        width: auto;
    }
}